/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* === Scaffolding === */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #363636;
  line-height: 20px;
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.outer {
  max-width: 1000px;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

/* === /Scaffolding === */
/* === Header ===*/
.main-header {
  padding-top: 30px;
  padding-bottom: 36px;
  background-color: #e8ebf1; }

.main-header .outer {
  display: flex;
  justify-content: space-between; }

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 50px; }
  .logo__left {
    color: #000000;
    font-weight: 900; }
  .logo__right {
    color: #2aacc8; }

.menu {
  display: flex; }
  .menu__item {
    margin-right: 50px;
    font-weight: bold; }
  .menu__link {
    color: #000000; }

/* === /Header ===*/
/* === Slider ===*/
.slider {
  padding-top: 20px;
  background-color: #81e4ed; }
  .slider__item {
    position: relative; }
  .slider__title {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 100px;
    left: 60px;
    margin: 0;
    max-width: 310px;
    font-weight: 900;
    color: #ffffff;
    font-size: 50px;
    line-height: normal; }
  .slider__pagination {
    display: flex;
    justify-content: center;
    padding: 12px 0; }
  .slider__dot {
    width: 15px;
    height: 15px;
    margin-right: 18px;
    background-color: #626262;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer; }
    .slider__dot--active {
      background-color: #ffffff;
      opacity: 1; }
    .slider__dot:hover {
      opacity: 0.9; }

/* === /Slider ===*/
/* === Advantages ===*/
.advantages {
  padding-bottom: 50px;
  background-color: #e8ebf1; }
  .advantages__list {
    display: flex;
    justify-content: space-between; }
  .advantages__item {
    max-width: 220px; }
  .advantages__title {
    margin: 0;
    position: relative;
    padding-left: 59px;
    padding-top: 60px;
    font-size: inherit; }
    .advantages__title::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #81e4ed;
      background-position: 50% 50%; }
    .advantages__title--pen::before {
      padding-left: 10px;
      padding-top: 8px;
      content: url("../assets/img/icon-pen.png"); }
    .advantages__title--fullscr::before {
      padding-left: 10px;
      padding-top: 10px;
      content: url("../assets/img/icon-fullscreen.png"); }
    .advantages__title--layers::before {
      padding-left: 12px;
      padding-top: 10px;
      content: url("../assets/img/icon-layers.png"); }
    .advantages__title--plane::before {
      padding-left: 9px;
      padding-top: 10px;
      content: url("../assets/img/icon-plane.png"); }
  .advantages__text {
    margin-bottom: 20px;
    font-size: 13px; }

/* === /Advantages ===*/
/* === Works ===*/
.works {
  padding-top: 10px; }
  .works__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .works__title {
    position: relative;
    padding-left: 40px;
    font-size: inherit; }
    .works__title::before {
      position: absolute;
      left: 0;
      content: "";
      width: 14px;
      height: 23px;
      display: block;
      background-image: url("./../assets/img/icon-mouse.png");
      background-repeat: no-repeat; }
  .works__button {
    width: 21px;
    height: 21px;
    border: none;
    border-radius: 50%;
    background-image: url("../assets/img/icon-arrow-left.png");
    cursor: pointer; }
    .works__button--right {
      transform: rotate(180deg); }
  .works__list {
    display: flex;
    justify-content: space-between; }

/* === /Works ===*/
/* === Comments ===*/
.inner .outer {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.comments {
  max-width: 441px; }

.clients {
  max-width: 502px; }
  .clients__list {
    display: flex;
    flex-wrap: wrap; }
  .clients__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 100px;
    border: 1px solid #e8ebf1; }
  .clients__img {
    display: inline-block;
    text-align: center; }

/* === /Comments ===*/
/* === Download ===*/
.download .outer {
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #e8fcfe;
  border: 1px solid #81e4ed; }

.download__text {
  max-width: 620px; }

/* === /Download ===*/
