@import "./normalize";

$main-color: #363636;
$second-color: #000000;
$white-color: #ffffff;

$bg-color-blue: #81e4ed;
$bg-gray: #e8ebf1;

@mixin main-font {
  font-family: Arial, Helvetica, sans-serif;
}
@mixin font-lato {
  font-family: 'Lato', sans-serif;
}

/* === Scaffolding === */ 

body {
  @include main-font;

  font-size: 15px;
  color: $main-color;
  line-height: 20px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.outer {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* === /Scaffolding === */ 

/* === Header ===*/ 

.main-header {
  padding-top: 30px;
  padding-bottom: 36px;

  background-color: #e8ebf1;
}

.main-header .outer {
  display: flex;
  justify-content: space-between;
}

.logo {
  @include font-lato;

  font-size: 50px;

  &__left {
    color: $second-color;
    font-weight: 900;
  }

  &__right {
    color: #2aacc8;
  }
}

.menu {
  display: flex;

  &__item {
    margin-right: 50px;

    font-weight: bold;
  }

  &__link {
    color: $second-color;
  }
}

/* === /Header ===*/ 

/* === Slider ===*/ 
  .slider {
    padding-top: 20px;

    background-color: $bg-color-blue;

    &__item {
      position: relative;
    }

    &__title {
      @include font-lato;

      position: absolute;
      top: 100px;
      left: 60px;

      margin: 0;

      max-width: 310px;

      font-weight: 900;
      color: $white-color;
      font-size: 50px;
      line-height: normal;
    }

    &__pagination {
      display: flex;
      justify-content: center;
      padding: 12px 0;
    }

    &__dot {
      width: 15px;
      height: 15px;
      margin-right: 18px;

      background-color: #626262;
      border-radius: 50%;
      opacity: 0.5;
      cursor: pointer;

      &--active {
        background-color: $white-color;
        opacity: 1;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
/* === /Slider ===*/ 

/* === Advantages ===*/ 
  .advantages {
    padding-bottom: 50px;
    background-color: $bg-gray;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      max-width: 220px;
    }

    &__title {
      margin: 0;
      position: relative;
      padding-left: 59px;
      padding-top: 60px;

      font-size: inherit;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50px;
        width: 40px;
        height: 40px;

        border-radius: 50%;
        background-color: $bg-color-blue;
        background-position: 50% 50%;
      }

      &--pen::before {
        padding-left: 10px;
        padding-top: 8px;
        content: url("../assets/img/icon-pen.png");
      }

      &--fullscr::before {
        padding-left: 10px;
        padding-top: 10px;
        content: url("../assets/img/icon-fullscreen.png");
      }

      &--layers::before {
        padding-left: 12px;
        padding-top: 10px;
        content: url("../assets/img/icon-layers.png");
      }

      &--plane::before {
        padding-left: 9px;
        padding-top: 10px;
        content: url("../assets/img/icon-plane.png");
      }
    }

    &__text {
      margin-bottom: 20px;
      font-size: 13px;
    }
  }
/* === /Advantages ===*/ 

/* === Works ===*/ 
.works {
  padding-top: 10px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    position: relative;
    padding-left: 40px;
    font-size: inherit;

    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 14px;
      height: 23px;
      display: block;
      background-image: url("./../assets/img/icon-mouse.png");
      background-repeat: no-repeat;
    }
  }

  &__button {
    width: 21px;
    height: 21px;

    border: none;
    border-radius: 50%;
    background-image: url("../assets/img/icon-arrow-left.png");
    cursor: pointer;

    &--right {
      transform: rotate(180deg);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}
/* === /Works ===*/ 

/* === Comments ===*/ 
.inner .outer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.comments {
  max-width: 441px;
  // margin-right: 100px;
}

.clients {
  max-width: 502px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 100px;
    border: 1px solid #e8ebf1;
  }

  &__img {
    display: inline-block;
    text-align: center;
  }
}
/* === /Comments ===*/ 

/* === Download ===*/ 
.download .outer {
  padding-left: 30px;
  padding-right: 40px;
  
  display: flex;
  justify-content: space-between;
  background-color: #e8fcfe;
  border: 1px solid #81e4ed;
}

.download {

  &__text {
    max-width: 620px;
  }
}
/* === /Download ===*/ 